/* Base styles */
#portfolio {
    padding: 50px 0;
    color: #ababab;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.work video {
    width: 100%;
    border-radius: 10px;
    display: block;
    /* height: auto; */
    background-color: rgb(31, 26, 26);
    transition: transform 0.5s;
    height: 60vh;
    object-fit: cover;
    object-position: top center;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff5757);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff5757;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff5757;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff5757;
}


@media only screen and (max-width: 480px) {
    #portfolio {
        padding: 30px 0;
    }

    .work-list {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-top: 30px;
    }

    .layer {
        padding: 0 20px;
        font-size: 12px;
    }

    .layer h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .layer a {
        font-size: 14px;
        line-height: 50px;
    }

    .btn {
        padding: 12px 30px;
        font-size: 14px;
    }
}

/* Media Queries for Tablet Screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #portfolio {
        padding: 40px 0;
    }

    .work-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 25px;
        margin-top: 40px;
    }

    .layer {
        padding: 0 30px;
        font-size: 13px;
    }

    .layer h3 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .layer a {
        font-size: 16px;
        line-height: 55px;
    }

    .btn {
        padding: 12px 40px;
        font-size: 16px;
    }
}
