/* Base styles */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff5757;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff5757;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff5757;
    /* border-radius: 15px; */
    padding: 3px 6px 3px 6px;
    margin-top: 25px;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff5757;
}

/* Media Queries for Mobile Screens */
@media only screen and (max-width: 480px) {
    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .contact-left p i {
        font-size: 20px;
    }

    .social-icons a {
        font-size: 24px;
        margin-right: 10px;
    }

    .btn.btn2 {
        padding: 3px 12px;
        font-size: 14px;
    }

    form input,
    form textarea {
        font-size: 16px;
    }

    form .btn2 {
        padding: 12px 30px;
        font-size: 16px;
    }
}

/* Media Queries for Tablet Screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .contact-left,
    .contact-right {
        flex-basis: 50%;
    }

    .contact-left p i {
        font-size: 22px;
    }

    .social-icons a {
        font-size: 26px;
        margin-right: 12px;
    }

    .btn.btn2 {
        padding: 3px 10px;
        font-size: 16px;
    }

    form input,
    form textarea {
        font-size: 17px;
    }

    form .btn2 {
        padding: 12px 40px;
        font-size: 16px;
    }
}
