/* Base styles */
#services {
    padding: 30px 0;
    color: #ababab;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff5757;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.services-list div p:hover {
    color: black;
    font-size: 15px;
}

/* Media Queries for Mobile Screens */
@media only screen and (max-width: 480px) {
    #services {
        padding: 20px 0;
    }

    .services-list {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-top: 30px;
    }

    .services-list div {
        padding: 20px;
        font-size: 12px;
    }

    .services-list div i {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .services-list div h2 {
        font-size: 24px;
    }

    .services-list div a {
        font-size: 10px;
    }
}

/* Media Queries for Tablet Screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #services {
        padding: 25px 0;
    }

    .services-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 30px;
        margin-top: 40px;
    }

    .services-list div {
        padding: 30px;
        font-size: 13px;
    }

    .services-list div i {
        font-size: 45px;
        margin-bottom: 25px;
    }

    .services-list div h2 {
        font-size: 28px;
    }

    .services-list div a {
        font-size: 11px;
    }
}
