body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* GlobalStyles.css */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: #fff;
  transition: background-color 0.9s, color 0.9s;
}

body.light-mode {
  background-color: white;
  color: black;
}

.theme-toggle {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
  padding: 8px 12px;
  transition: color 0.9s;
}

body.light-mode .theme-toggle {
  color: black;
}
